body {
  padding: 5em 0 0 0;
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 2.5em;
  font-weight: 900;
}

footer {
  margin-top: 2%;
}

.navbar {
  background-color: #4484ce;
}

.navigation li a {
  font-size: 1.2em;
  font-weight: bold;
  color: white !important;
}

.navigation li a:hover {
  opacity: 0.4;
}

#name {
  font-size: 1.4em;
  font-weight: bold;
}

#about,
#skills {
  margin-top: 2%;
  background-color: white;
}

#about img {
  width: 50%;
  display: block;
  margin: 0 auto;
}

#aboutText {
  font-size: 1.4em;
  margin-top: 3%;
}

#experience {
  margin-top: 2%;
  padding: 5% 0 5% 0;
  background-color: #f9cf00;
}

#experience .exp {
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: white;
  border-radius: 15px;
}

#experience .exp:hover {
  opacity: 0.8;
}

.experienceText {
  font-size: 1.4em;
  font-weight: 500;
}

#experience img {
  width: 100%;
  height: 18rem;
  object-fit: contain;
}

#experience .exp div img {
  height: 60px;
  width: 100px;
  margin-bottom: 2em;
}

@media (max-width: 450px) {
  .navigation li a {
    font-size: 1em;
  }

  #aboutText {
    font-size: 1em;
    text-align: center;
  }

  #aboutText #name {
    font-size: 1.3em;
  }

  #experience h2 {
    font-size: 1.5em;
  }

  #experience img {
    width: 100%;
    height: 9rem;
  }

  #experience .exp div img {
    height: 30px;
    width: 50px;
    margin-bottom: 1em;
  }

  .experienceText {
    font-size: 1em;
  }
}
